@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

:root {
 --cor-principal: #EA80F5 ;
 --cor-secundaria: #31395E;
 --cor-destaque: #4759F0;
}

body {
   font-family: 'Cascadia mono', sans-serif;
   background-color: #0E0E32;
   
}

h1, h2, h3 {
    color: var(--cor-principal);
    font-weight: 700;
}

.Lead {
    color: var(--cor-principal);
    font-weight: 700;
}

footer a {
    color: var(--cor-destaque)
}

footer a:hover {
    color: var(--cor-secundaria)
}
